
 
 @font-face {
    font-family: 'arsenalbold';
    src: url('../fonts/arsenal-bold.eot');
    src: url('../fonts/arsenal-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-bold.woff') format('woff'),
         url('../fonts/arsenal-bold.ttf.gz') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'arsenalbold_italic';
    src: url('../fonts/arsenal-bolditalic.eot');
    src: url('../fonts/arsenal-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-bolditalic.woff') format('woff'),
         url('../fonts/arsenal-bolditalic.ttf.gz') format('truetype');
    font-weight: bold;
}
  



@font-face {
    font-family: 'arsenalitalic';
    src: url('../fonts/arsenal-italic.eot');
    src: url('../fonts/arsenal-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-italic.woff') format('woff'),
         url('../fonts/arsenal-italic.ttf.gz') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'arsenalregular';
    src: url('../fonts/arsenal-regular.eot');
    src: url('../fonts/arsenal-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-regular.woff') format('woff'),
         url('../fonts/arsenal-regular.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body {
    overflow-x: hidden;
	  font-family: 'arsenalregular'; 
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #ff3b2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: normal;
  
   
}

h1 {font-family: 'arsenalbold'; text-transform:uppercase; margin-bottom:60px;}



.carousel-caption { top:25%;}




.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;

}

.front-carouserl .carousel-inner  {
	 background: url(../img/carousel/01.jpg) no-repeat center center;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {padding-top:5px;}
#header .item:nth-child(1) {
  
}
#header .item:nth-child(2) {
   
}
#header .item:nth-child(3) {
      
}

#header .carousel-inner .item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

 
#header .carousel-inner .item  h2 span{
	font-family: 'arsenalbold'; 
	font-size: 58px; 
	font-weight:normal;
	color:#FFF;
	background:url(../img/h2bg.png) repeat;
	display:inline-block;
	text-align:center;
	margin-left:auto; margin-right:auto; padding:5px 30px;
	text-transform:uppercase;
}
	
#header .carousel-inner .item  h3 { margin-bottom:20px;}	
#header .carousel-inner .item  h3 span
{
	font-family: 'arsenalregular'; 
	font-size:30px;
	background:url(../img/h3bg.png) repeat;
	clear:both;
	display:inline-block;
	text-align:center;
	margin-left:auto; margin-right:auto; padding:3px 20px;
}

#front .gc {position:absolute;  margin-left:auto; margin-right:auto; width:100%;}
.gc {position:absolute; bottom:0; margin-left:auto; margin-right:auto; width:100%;} 

	
#header, 
#header_content {height:340px;}

#calc #header {background:url(../img/carousel/ic.jpg) no-repeat center center;}
#about #header {background:url(../img/carousel/about.jpg) no-repeat center center;}



.button3d{ 
 
  
    padding: 10px 14px  7px 14px; 
    text-align: center; 
    color: #FFFFFF; 
  font-size:20px;
   text-transform:uppercase;
   font-family: 'arsenalbold'; 
    background-color: #FF3B2F; 
    border-width: 0px; 
    border-style: solid; 
    border-color: #FFFFFF; 
    border-radius: 5px; 
    box-shadow: 0px 5px 0px 0px #C91207; 
  
}















.img-centered {
    margin: 0 auto;
}



header {
    text-align: center;
    color: #fff;
    background: none;
}

header .container {

}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
 
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

#header_content {position:absolute; top:0; left:0; width:100%;}




.navbar-default {background: none;z-index:999; top:0; left:0; width:100%; position:fixed;} 
.navbar.affix { top:0; left:0; width:100%; background:#212121;}

.a-name {font-weight:600;}

#where  {color:#1D1D1D; padding-bottom:0; padding-top:40px;}
#map-canvas {height:350px; } 

#buy {background:#2c3e50; color:white;}

.st {font-size:12px;}

body#calc .panel {margin-top:60px;}
.calc-labels {font-family: 'arsenalbold'; }
.calc-result {color:#1a8605; font-family: 'arsenalbold';}
.calc-userinput {color:#ee2313; font-family: 'arsenalbold';}

p strong, p b {font-family: 'arsenalbold'; font-weight:normal;}


.tres {margin-top:170px;}
.tres th {text-align:center;}




.btn-default {background-color:#18bc9c; color:#FFFFFF; border:none;}

.a-photo {padding-left:20px !important; padding-right:20px !important; }  

#about p {font-size:16px;}
img.lonely {margin-top:140px;}

#header {border-bottom:#ECECEC 1px solid;}

#pamm #header {background:url(../img/carousel/pamm.jpg) no-repeat center center; }

.tab-content {padding:40px;}
#pammTab li {text-transform:uppercase;  font-family: 'arsenalbold';}

#contacts #header {background:url(../img/carousel/contacts.jpg) no-repeat center center;}

#partnership #header { background:url(../img/carousel/partnership.jpg) no-repeat center center;}
.percents {background:url(../img/percents.png) no-repeat right top; display:block; width:auto; height:auto; overflow:hidden;}
.img-p { float:left;  margin-right:40px;}
.percent-row  {clear:both; margin-bottom:40px;}

#partnership .button3d {margin-top:20px;}






.navbar {
    text-transform: uppercase;
   
    font-weight: normal;
	  font-family: 'arsenalbold';
	  border-radius:0 !important;
}

.navbar a:focus {
    outline: 0;
	color:#ff3b2f;
}

.navbar-default a:hover {color:#ff3b2f !important;}  
.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.btn-outline  { }

.btn-outline {
    font-size:15px;
    border: solid 1px #fff;
  padding-top:10px !important; padding-bottom:10px !important; margin-top:10px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 1px #ff3b2f;
    color: #ff3b2f;
    background: #fff;
}


.btn-outline.btn-danger {
	color:#ff3b2f;
    border: solid 2px #ff3b2f; 
}

.btn-outline.btn-danger:hover,
.btn-outline.btn-danger:focus,
.btn-outline.btn-danger:active,
.btn-outline.btn-danger.active {
    border: solid 2px #000;
    color: #000;
    background: #fff;
}


.btn-outline.black {  border: solid 1px #000000; color:#000000;   font-family: 'arsenalbold'; margin-bottom:20px;}  

section {
    padding: 100px 0;
}

section.success {padding:40px 50px 100px 50px;}  

section h2 {
    margin: 0;
    font-size: 3em;
}

.sec-pre-title {    font-family: 'arsenalbold'; font-size:24px; line-height:none; text-align:left; margin-top:20px;  text-transform:uppercase;}
.sec-pre-title.text-center {text-align:center;}
.sec-pre-title.nm {margin-bottom:20px;}

.sec-pre-title.inside { margin-bottom:40px; margin-top:80px;}   

.devider {
    background: url("../img/devider.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 74px;
    width: 100%;
}
.devider span {
    display: block;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
    width: 74px;
}

#perfomance .devider span { background:url(../img/s01.png) no-repeat center center;}
#perfomance .carousel-control,
#reviews .carousel-control {background:none;}
#perfomance .carousel-inner img {margin-left:auto; margin-right:auto;}

#pp .devider span { background:url(../img/s02.png) no-repeat center center;}
#pp { padding-bottom: 50px;}


#aboutus {padding-top:0;}

#reviews  .devider span { background:url(../img/s03.png) no-repeat center center;}
#reviews h4 { padding-top: 30px; background: url(../img/cite.png) no-repeat top;}

#reviews .carousel-indicators  { bottom:-40px;}
#reviews .carousel-indicators li {border: none; background:#e1e1e1;}
#reviews .carousel-indicators li.active {background:#ff3a2f;}

.social-icons {margin-top:10px;}
.social-icons .fa {font-size:20px; margin-right:10px;}
.flag-icon {margin-right:10px;}
.social-icons .fa:hover {color:#FFFFFF;  cursor: pointer;}

img.text-center  {margin-left:auto; margin-right:auto;}











.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #383838;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #222222;
}

.footer-above .input-group {width:100%;}
.footer-above h4 {text-transform:uppercase;  font-family: 'arsenalbold';}
.footer-above p { color:#c3c3c3; font-size:14px;} 
.footer-above input {background-color: #222222; border:none; color:#c3c3c3;} 
.footer-above .input-group-addon {border:none; background:#ff3b2f; color:#FFFFFF;} 
.inl {display:inline; float:left; } 
.footer-above .form-control {width:70%;} 
.footer-above .input-group-addon {height:43px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
} 



.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.on-white .btn-social {
	border: 2px solid #2c3e50;
	|}
	
	.on-white .btn-social i {color:#2c3e50;
	|} 
	


.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}


li.l a {padding-right:5px;} 
li.l:last-child a {padding-left:5px;}  