@media(max-width:767px){
	  section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
	#calc td.calc-btn {width:190px;}  
	
	#header .carousel-inner .item h2 span {
    font-size: 36px;
	}
	 
	.carousel-caption { top:5%;}
	

	#header .carousel-inner .item h3 span {

    font-size: 22px; 
	

}
section.success {
    padding: 10px 20px 40px;
} 

.sec-pre-title {font-size:18px;} 

p {font-size:16px;}
 
.navbar-collapse.collapse.in { background:#212121;}
.navbar-nav li.l:last-child a {padding-left:15px;}
.gc img {max-width:100%; height:auto;} 

.carousel-indicators {margin-left:0; left:0; width:100%;}

#header, #header_content {
    height: 200px;
}

.tab-content {padding:20px 10px;}  

section {padding:25px 0;} 

#calc .panel-body .col,
.index.admin .tab-content {padding:0;}
#calc .calc-labels {width:80px; font-size:12px;}
#calc .panel table,
#calc .panel table .btn {font-size:12px;}  
#calc .panel table .btn,
.index.admin table .btn {padding-left:5px; padding-right:5px;}  

table.my-pamm,
.index.admin table {font-size:13px;}   



.tres { 
     margin-top: 60px; 
}

.percents {background:none;}  

.eh.pull-right {float:none !important;}

#page-content-wrapper { padding: 10px;}



}

@media(min-width:768px){
	
	.my-pass {width:70%;} 
	
	#page-content-wrapper { padding: 40px;}
	
	  header .container {
       
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    } 
	
	
	  .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
	
	#bs-example-navbar-collapse-1 {padding-left:0; padding-right:0;}
	.admin #wrapper { margin-top:180px;}
	
	#reviews {padding-top:0px;}
	
	.sec-pre-title { margin-bottom:40px;}    
	

}
	
/*iPad портрет */	
@media only screen and (max-device-width: 992px) and (orientation: portrait)  
{
     
}
	
	
 

@media(min-width:1200px){
	
.admin #wrapper { margin-top:100px;}
#reviews {padding-top:100px;} 
sec-pre-title { margin-bottom:80px;}
}


